<div class="item m-5">
    <div class="item-img">
        <a routerLink="products/{{product?.id}}"><img class="img" src={{product?.url}} /></a>
    </div>
    <div class="text-center m-2">
        <h5 class="tex-center">{{product?.name}}</h5>
        <p class="tex-center">{{product?.price | currency}}</p>
        <select class="select" (change)="selectHandle($any($event.target).value)">
            <option [value]="i" *ngFor="let i of numbers">
                {{i}}
            </option>
        </select> <br>
        <button class="btn btn-primary m-2 btn-add" (click)="addProduct()">Add to cart</button>
    </div>
</div>