/* You can add global styles to this file, and also import other style files */
.img{
    width: 300px;
    height: 400px;
}
a{
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.btn-add, select {
    width: 6.8rem ;
}